:root {
  // accent color
  --color-accent-hover: #7451a1;
  --color-accent: #512689;
  --color-accent-active: #411e6e;
  --color-accent-disabled: #311752;

  // colors
  --color-black: #151317;
  --color-gray: #808185;
  --color-gray-light: #f8f8f8;
  --color-red: #ff6161;
  --color-white: #fff;
}
