.button {
  cursor: pointer;

  position: relative;

  overflow: hidden;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  padding: 8px 12px;

  border-radius: 8px;

  transition: background-color ease 0.3s;
}

.primary {
  color: var(--color-white);
  background-color: var(--color-accent);

  &:disabled {
    cursor: default;
    background-color: var(--color-accent-disabled);
  }

  &:not(:disabled):active {
    background-color: var(--color-accent-active);
  }

  @media (any-hover: hover) {
    &:not(:disabled, :active):hover {
      background-color: var(--color-accent-hover);
    }
  }
}

.secondary {
  color: var(--color-gray-light);
  background-color: transparent;
  border: 1px solid var(--color-gray-light);

  &:disabled {
    cursor: default;
    background-color: var(--color-accent-disabled);
  }

  &:not(:disabled):active {
    background-color: var(--color-accent-active);
  }

  @media (any-hover: hover) {
    &:not(:disabled, :active):hover {
      background-color: var(--color-accent-hover);
    }
  }
}

.icon {
  overflow: initial;

  width: 30px;
  height: 30px;
  min-height: 0;
  padding: 0;

  background-color: var(--color-gray-light);
  border-radius: 4px;

  transition: all 0.3s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      svg {
        fill: var(--color-accent-hover);
      }
    }
  }
}

.fullWidth {
  width: 100%;
  max-width: 100%;
  text-align: center;
}

.animate {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
