.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;
  max-width: 500px;
  padding: 16px;

  border-radius: 16px;
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 8%);
}

.title {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 700;
}

.submitButton {
  margin-top: 8px;
}

.footer {
  margin-top: 10px;
  text-align: center;

  a {
    font-weight: 700;
    color: var(--color-accent);
    transition: color 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: var(--color-accent-hover);
      }
    }
  }
}
